body
{
    font-family: 'segoe ui light';
    background-image: radial-gradient(at 30% top ,#032541  0%, #053e6d);

}
.main-color{
    color: #2bbbd1 !important;
}
.main-bg{
    background-image: linear-gradient( #2bbbd1, #032541) !important;
}
.navbar-brand img{
    width: 100px;
}
.post .img-box{
    cursor: pointer;
    overflow: hidden;
    
}
.post img{
    transition: all ease-in-out .4s;
}
.post:hover img{
    transform: scale(1.1,1.1);
}
.post .rate{
    margin:20px;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient( #2bbbd1, #032541) !important;
    border-radius: 50%;
    
    font-weight: bold;
}
.post .title{
    font-weight: bold;
    color: #2bbbd1;
    margin-left: 10px;
}